.App {
  height: 100%;
}

.btn:hover {
  cursor: pointer;
} 
.btn:active {
  transform: translateY(3px);
}

.flexbox {
  display: flex;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
}

.btn-right {
  margin: auto 0 auto auto;
}
